body {
  font-family: "Montserrat", sans-serif;
  background-color: #b0b0b069;
}

:root {
  --button-primary: #0d6efd;
}

.main-introdution {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: calc(100vh - 80px);
}

.main-introdution__title {
  width: 100%;
  text-align: center;
  font-size: 24px;
}

.main-introdution__register,
.header__navigation--register {
  width: auto;
  max-width: 350px;

  outline: none;
  background: transparent;
  outline: none;
  cursor: pointer;

  border: 2px solid;
  border-color: var(--button-primary);
  border-radius: 5px;

  font-size: 16px;
  font-weight: bold;
  color: var(--button-primary);

  padding: 10px;
  transition: all linear 0.4s;
}

.main-introdution__register:hover {
  border-color: transparent;
  background: var(--button-primary);
  color: #fff;
}
