header {
  background-color: blue;
  padding: 15px;
}

.header__navigation {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.header__navigation--logo {
  display: flex;
  align-items: center;
}

.header__navigation--logo img {
  width: 100%;
  max-width: 50px;
}

.header__navigation--title {
  color: white;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 800;
}

.header__navigation--register {
  justify-self: flex-end;
  width: 20%;
}

.header__navigation--register:hover {
  background: #fff;
}

.header__navigation--links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.header__navigation--links a {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.header__navigation--links a::before {
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  width: 0;
  background: #fff;
  bottom: -10px;
  transition: all linear 0.3s;
}

.header__navigation--links a:hover::before {
  width: 100%;
}
